body{
    text-align: center;
}
p,h1{
    text-align: center;
    font-family: "Century Gothic";
}
#topcontainer{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#firstRow{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#secondRow{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#_time{
    float: right;
}
#_score{
    float: right;
}
#Time{
    width: 40px;
    float: right;
}
#Score{
    width: 40px;
    float: right;
}
#W{
    font-size: 22pt;
    font-weight: 500;
}
#T{
    font-weight: 500;
}
#ins{
    font-size: 22px;
    font-weight: 600;
    font-family: "Times New Roman";
}
#inscontent{
    font-size: 20px;
    font-family: "Times New Roman";
}
#container{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
#button{
    text-align: center;
}
#map{
    width: 250px;
    padding: 10px 0 10px 0;
    margin: 20px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#lower{
    width: 700px;
    margin: 0 auto;
}
#lower p,h2{
    text-align: left;
}