html, body {
  width:100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: center;
  font-family: arial, sans-serif;
}
fieldset{
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 400px;
}
input {
  height: 20px;
  width: 205px;
  margin-left: 25px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  outline: none;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#wrapper {
  position: absolute;
  left: 40%;
  text-align: left;
}
.username {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543392700462&di=d7cb73a8346dffed21894f4b8031cde1&imgtype=0&src=http%3A%2F%2Fpic44.photophoto.cn%2F20170725%2F0017030509040721_b.jpg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.studentid {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(http://a4.mzstatic.com/us/r30/Purple6/v4/0f/29/ef/0f29ef6e-9bab-2e12-dc58-d53026eb058d/mzl.dkolilcn.175x175-75.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.password {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1545059517&di=3854e745951ca83b41a4c37fe4f892c5&src=http://pic.58pic.com/58pic/14/62/48/20558PIC4gi_1024.jpg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.repeatpassword {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 65px;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1545059517&di=3854e745951ca83b41a4c37fe4f892c5&src=http://pic.58pic.com/58pic/14/62/48/20558PIC4gi_1024.jpg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.re-wrapper {
  position: relative;
  left: -30px;
  top: -15px;
}
.phone {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3486621098,3405621363&fm=26&gp=0.jpg);
  background-size: 20px 20px;
  background-position: 0px;
  background-repeat: no-repeat;
}
.phone-wrapper {
  position: relative;
  top: -30px;
}
.email {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=f633c0431fce36d3b6098b625b9a51e2/6609c93d70cf3bc732bbf175db00baa1cc112aeb.jpg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.email-wrapper {
  position: relative;
  top: -25px;
  margin-bottom: 15px;
}
.one{
  position: relative;
  width: 20px;
  height: 20px;
  left: 270px;
  top: -20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545664426&di=b4d3a055260648dcbab2ada8ad732fd3&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D38c09753dc88d43fe4a499b11577b86e%2F8694a4c27d1ed21bca371ec3a76eddc451da3f1d.jpg);
}
.two{
  position: relative;
  width: 20px;
  height: 20px;
  left: 300px;
  top: -20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545664426&di=b4d3a055260648dcbab2ada8ad732fd3&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D38c09753dc88d43fe4a499b11577b86e%2F8694a4c27d1ed21bca371ec3a76eddc451da3f1d.jpg);
}

.buttons {
  position: relative;
  left: 60px;
}
.buttons>input {
  width: 50px;
  height: 30px;
  opacity: 0.76;
  color: #757575;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  line-height: 27px;
}
.buttons>input:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  border: 1px solid #c6c6c6;
}
span {
  font-size: 12px;
}

.errormessage {
  color: #BE4B49;
}
.tip {
  color: #999999;
}
#uniquemessage {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1545059864&di=6eba737870116623347801b3aec7f0e1&src=http://pic.58pic.com/58pic/15/51/49/44u58PIC3Ze_1024.png);
  background-position: 0px 2px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  position: absolute;
  left: 40%;
  text-align: left;
  top: 310px;
}

.switch-signin-signup {
  position: relative;
  right: -60px;
  top: 0px;
  text-decoration: none;
}
a:hover {
  color: red;
}